@use './styles/variables' as *;

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;

  &__main {
    flex: 1;
    display: flex;
    overflow: hidden;
    margin-top: $topbar-height;

    > * {
      flex: 1;
      display: flex;
      overflow: hidden;
    }
  }
}
